<% provide(:story, 'active') %>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">Story</li>
	</ol>
	<div id="story" style="background-image: url(<%= asset_path 'paper.png' %>); ">
	<a name="#top"></a>
	<h1 style="text-align: center; letter-spacing: 25px;">CELTIA</h1>
	<p>
		I was wandering the timeless hill of Erin, far from camp and friends, falling with each step further into a timeless reverie of enchantment in this magical and mystical land when I was started by the croak of a large raven sitting high in the branches of a lightning blasted rowan tree. It fixed me with a penetrating gaze with such engaging presence that I barely registered the blurring of its image as it shifted from raven to crow. I cannot say what it was that happened next but before I knew it I was in the presence of an old woman who's knarled and twisted appearance was mocked by the speed and agility with which she moved, deftly wielding a staff as she went.
	</p>
	<p>
		  "So you have caught the eye of auld Scauldie have you?" She jibbed.
		  "Well there must be something of your spirit that catches her fancy boy, watch out!"
		  She promised to walk me back to the woodland edge as I had failed to note the closing of the day approaching and as she led and I followed mesmerised by the irony of her demeanour and the harsh croak of her voice she told me this tale.
	</p>
	<center><img src="<%= asset_path 'crow.png' %>" height="150" /></center>

	<div class="quote">
		<p>
		"Aye boy, you best be careful about here. These hills are of ill repute. Some say haunted, but others say bewitched. You see, legends tell of how, long ago, a race came to the shores of Erin who's understanding of metallurgy, healing and magic caused them to become known as the Gods and in later tales as The Fairy and though they were few in number, they conquered all the land. They arrived upon the eve of Beltane from over the sea amid an eerie, unnatural calm, concealed from the natives by a magical balmy shroud of mist. Some say they never really left but dwell here yet in subterranean halls of great splendour and wealth where they use their music and arts to call those still able to perceive them.
		</p>
		<p>
			The tales tell of how, upon meeting the Fir Bolg, the Aboriginals of the place, who were gathered upon a plain for the great fire festival of the first of May, they asked for half the land in which to dwell peaceably. The Bolg declined and decided instead upon making combat in order to determine the rightful inhabitants or Erin. For by their vastly superior number, they were confident of victory.
			  
		</p>
		<p>
			Many are the tales of the fabulous weapons and feats of arms of the newcomers. But indeed, few tell of the true secret of their success. For in return for a temporary truce and a trade of arms, they made the Fir Bolg abide by certain rules of combat. Namely; that each day thrice nine from each side were to attend the battle, nine to tend the fallen and provide substitutions and twice nine to fight in single combats and games of deadly Hurley, until all on one side were slain.
		</p>
		<p>
			But the newcomers could ever resurrect their fallen, by use of the Dagda's magical Cauldron, for it would full and stay full of any substance that was placed in it, unless it is fully upturned. And so by filling with a potion made from the dew of Beltane morning they had an unending supply of the elixir of eternal youth. That is how the Bolgs found themselves each day, facing the same terrible warriors, until they were all exhausted.
		</p>
		<p>
			So we are told the Tuatha De Danan, for that was what the race of Gods called themselves, ruled Erin and peace and prosperity and health grew across the land. But for occasional raids by the Formori, a race of mutant giants that came from over the western sea, in search of healthy women for breeding purposes.
		</p>
		<p>
			All was well except for with one, known as the Morigu, whose symbol was the crow, triple goddess and chief of the female line. She was goddess of the birth, battle, sex and death and justly feared and revered by all, even the mightiest of her own great and noble race. For through the misuse of the great cauldron, as she perceived it, she felt duly cheated. Denied the chance to reap she was also unable to sow and thus frustrated. But in desperation, she eventually beheld a plan. Thus she met secretly with a particularly ambitious young son of a Formori chieftain, who she told of the secrets of the De Danan success and who she made to promise that he would help her to break the bonds that frustrated her. And so when next the Formori met the De Danan in battle they followed no rules of combat. They attacked with their full force and the De Danan were routed.
		</p>
		<p>
			It was after this battle that the Formori followed the procession of the Dedana's with their wounded and dead back to the well at Uisnach, long famed for it's healing properties, for that was where the great cauldron was kept.
		</p>
		<p>
			Soon the cauldron was in the hands of the Formori and secreted away to Tory island off the North West coast, their stronghold. Now when the old tales tell of the last great march of the old Gods and the attack upon Tory Island in quest to retrieve the Dagda's magical harp, they miss-tell. For indeed, the quest was for the cauldron, the harp was used to subdue the host so that it could be stolen by slight, making the Formori first laugh, then cry, before finally lulling them all to sleep, rather than face further costly force of arms.
		</p>
		<p>
			But that was an ill fated company to behold. Trapped as they were between the clashing teeth of the islands rocky coast and a returning Formori rading party. Few survived and none knew what had become of their prize. The Morigu and her attendant priestesses, known as the Bansidh's and often perceived by enemies as great combatants in battle were thought to perish in the sea that day along with the rest of their kind. But, in fact, they survived by using the great cauldron as a coracle and thus made their way to Skye, an island far to the north.
		</p>
		<p>
			Here the Morigu ruled for three hundred years. Using the cauldron to sustain herself and her Bansidhs. She masqueraded as Scathach, Warrior Queen of the Gaels, where, it is said, they trained only the finest warriors from both Scotland and Ireland. Indeed it was in her school that the great champion Cuhuain was trained, and also where he conceived the child that would be his undoing when they met once more as strangers on the shores of Erin, which Cuhuain was sworn single headedly to defend against all corners.
		</p>
		<p>
			That was until she finally wearied of this world and retreated to the interior of her barrow back in the deep loam of Erin's fertile lands. And that is where she lives to this day, using the great Cauldron as a prize to lure unwary travellers, poets, warriors or madmen into her world in search. And there she traps them into combat in order to grace her table with carrion. And it is said that ever will blood be spilled in this world whilst the cauldron is in the bloodstained hands of the Morigu.
		</p>
		<p>
			But who would dare tread the path of the tomb of the Morigu? Who could stand before that great terrible Fairy Queen with all her ancient whiles and charms? For she shifts her shape from lovely maiden to crone to crow spitting her venomous curses and spells to enchant and ensnare and it is said that her powers are matched only by the madness into which three thousand years of making and unmaking her own kin have wrought upon her. And it is in this interior would where the prize is kept, on a hill in the centre of a field of eternal battle, from which the only means of escape is through victory at terrible cost and against impossible odds."
		</p>
	</div>
	<p>
		And so I found myself sitting in a cave reading by the last light of the dying day this story from and old leather bound book wrought with intricate designs of silver and gold which she had somehow passed into my hands. A sudden rumble alerted me to a stone sliding into the doorway and closing off the light. It closed with a soul crushing crunch and I heard the dry mocking cackle of the crone as she retreated into the darkness laughing.
	</p>
	<p>
		<div class="quote">
		"Will you skulk in this cell for an eternity boy or will you be entertaining my sisters with your futile efforts to escape? More likely you will emerge as meat at our feast!"
		</div>
	</p>
		<p>
		Her mocking laughter diminished into the ever growing darkness in which I was trapped.
		</p>

		<center><img src="<%= asset_path 'seannaiche_in_a_cave.png' %>" /></center>
		<br />
		<br />
		<p><h3><a href="#top">Go to Top</a></h3	></p>
	</div>
</div>